/* ========================================

    CODE YOUR STYLES BELOW!

   ======================================== */


/* Element Selectors */


footer{
    background: white;
    text-align: center;
    padding: 5% 0;
}

footer p{
    margin: 30px;
}

.made-by{
    color: grey;
    margin: 20px;
}

.made-by a{
    text-decoration: none;
    color: rgb(83, 81, 81);
}
.made-by a:hover{
    color: black;
}

.copyright{
    position: relative;
    top: 20px;
    color: grey;
}

/* Facebook Buttons */

.facebook-style-btn{
    border: solid 1px;
    padding: 6px 12px;
    font-size: 0.9rem;
    border:solid 1px;
    border-radius: 2px;
}

.facebook-style-dark{
    box-shadow: inset 0 1px 0 0 #445b91;
    background-color: #4267b2;
    color: white;
}

    .facebook-style-dark:hover{
        background-color: #2b54a7;
    }

    .facebook-style-dark:active{
        border: solid 2px black;
    }    


.facebook-style-light{
   border-color: rgb(194, 192, 192);
}

    .facebook-style-light:hover{
        background-color: rgb(204, 201, 201);
    }

/* 3d Buttons */

.btn-3d-1{
    border:none ;
    position: relative;
    color: white;
    background: #e63d00;
    padding: 20px 40px;
    font-size: 1.5rem;
    outline: none;
    box-shadow: -6px 6px 0  #862806;
}

.btn-3d-1:hover{
    background: #d33c06;
}

 .btn-3d-1:active{
     top: 3px;
     right: 3px;
     box-shadow: -3px 3px 0 #862806;
 }

 .btn-3d-1::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* border width needs to be size of the element's box shadow */
    border: solid 6px transparent;

    /* border width needs to be size of the element's box shadow */
    border-right: solid 6px hsl(16, 100%, 30%);

    /* no width for left, makes measurements easier */
    border-left-width: 0px;

    background: none;
    top: 0px;

    /* needs to be the same size as border width */
    left: -6px;
  }

.btn-3d-1::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* border width needs to be size of the element's box shadow */
    border: solid 6px transparent;

    /* border width needs to be size of the element's box shadow */
    border-top: solid 6px hsl(16, 100%, 30%);

    /* no width for left, makes measurements easier */
    
    border-bottom-width: 0;
    /* background: none; */
    bottom: -6px;
    /* needs to be the same size as border width */
    right: 0px;
  }

    .btn-3d-1:active::before{
        content: "";
        border: solid 3px transparent;
        border-right: solid 3px hsl(16, 100%, 30%);
        border-left-width: 0;
        position: absolute;
        left:-3px;
        top: 0;
    }

    .btn-3d-1:active::after{
        content: "";
        border: solid 3px transparent;
        border-top: solid 3px hsl(16, 100%, 30%);
        border-bottom-width: 0;
        position: absolute;
        right:0;
        bottom: -3px;
    }



.btn-3d-2{
    margin: 0 20px;
    border: solid 1px black;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    position: relative;
    color: white;
    background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    padding: 25px 25px;
    font-size: 1.5rem;
    outline: none;
    box-shadow:
                inset 0 1px 0 hsl(54, 100%, 50%),
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%),
                0 4px 0 hsl(54, 100%, 16%),
                0 5px 0 hsl(54, 100%, 14%),
                0 6px 0 hsl(54, 100%, 12%),
                0 7px 0 hsl(54, 100%, 10%);
}

.btn-3d-2:hover{
    background: rgb(199, 199, 8);
}

    .btn-3d-2:active{
        top: 3px;
        box-shadow:
                inset 0 1px 0 hsl(54, 100%, 50%),
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%),
                0 4px 0 hsl(54, 100%, 16%);
      

    }
/* Gradiet Buttons */

.gradient-button-1{
    position: relative;
    z-index : 1;
    display: inline-block;
    margin: 10px;
    transition : all 0s ease-in;
    padding : 20px 40px;
    border : solid 10px transparent;
    font-size: 1.4rem;
    box-sizing: border-box;
    border-image: linear-gradient(to top right, orangered, yellow);
    border-image-slice: 1;
    color: orangered;
}

.gradient-button-1:hover{
    background-image: linear-gradient(to top right, orangered,yellow);
    color: white;
}

.gradient-button-2{
    position: relative;
    z-index : 1;
    display: inline-block;
    margin: 10px;
    padding : 20px 40px;
    border : solid 6px transparent;
    font-size: 1.4rem;
    box-sizing: border-box;
    border-image: linear-gradient(to right, orangered, rgb(248, 248, 247));
    border-image-slice: 1;
    color: orangered;
}

.gradient-button-2:hover{
    background-image: linear-gradient(to right, orangered,rgb(250, 250, 249));
    color: white;
}


/* Animated button */


.animated-button-1{
    padding: 20px 40px;
    margin: 20px;
    background: #00b3b4;
    color: white;
    border: solid 1 px;
    font-size: 1.4rem;
    background-image: url(pattern.png);
    background-size: 40px 40px;
    border: solid 1px #555;
    transition: all ease 1s;
}

.animated-button-1:hover{
    animation: loading-button-animation 2s linear infinite;
}

@keyframes loading-button-animation{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 40px 0;
    }
}

.animated-button-2{
    padding: 20px 40px;
    margin: 20px;
    background: #00b3b4;
    color: white;
    font-size: 1.4rem;
    border: solid 1px #555;
    transition: all ease 0.7s;
}

.animated-button-2::after{
    position: absolute;
    top: 30%;
    right: 1rem;
    content: "»";
    transition: all ease 0.7s;
    opacity: 0;
}

.animated-button-2:hover{
    padding: 20px 60px 20px 20px;
}

.animated-button-2:hover::after{
    opacity: 1;
    right: 1.5rem;
}


/* Toggle Buttons */


.toggle-1{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin:0 20px 0 0 ;
    vertical-align: top;
}

    .toggle-1__input{
        display: none;
    }

    .toggle-1__button{
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        line-height: 20px;
        font-size: 14px;
        height: 30px;
        width: 80px;
        border-radius: 2cm;
        background-color: #f2395a ;
        border: solid 1px #f2395a;
        transition: all 0.3s ease;
    }

    .toggle-1__button::before{
        position: absolute;
        top: 6px;
        left: 40px;
        border-radius: 2cm;
        vertical-align: center;
        content: "off";
        display:inline-block;
        height: 15px;
        padding: 0 3px 3px ;
        background: white;
        color: #f2395a;
        transition: all 0.3s ease;
    }

    .toggle-1__input:checked + .toggle-1__button{
        background: #00b3b4;
        border: solid 1px #00b3b4;
    }

    .toggle-1__input:checked + .toggle-1__button::before{
        left: 5px;
        content: "On";
        color: #00b3b4;
    }


.toggle-2{
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: top;
    font-size: 1rem;
    display: inline-block;
    text-transform: uppercase;
}

.toggle-2__input{
    display: none;
}

.toggle-2__button{
    position: relative;
    display: inline-block;
    line-height: 20px;
    background: white;
    transition: all 0.3s ease;
    color: #aaa;
    padding: 5px 10px 5px 30px;
    border: solid 1px #ccc;
}

.toggle-2__button::before{
    content: "";
    height: 10px;
    width: 10px;
    background: grey;
    display: inline-block;
    border: solid 1px grey;
    position: absolute;
    left: 4%;
    top: 25%;
    margin-right: 20px;
}

.toggle-2__input:checked + .toggle-2__button {
    color: whitesmoke;
    background: #00b3b4;
}

.toggle-2__input:checked + .toggle-2__button::before {
    background: whitesmoke;
}